/* Recommended CSS reset */

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

/* --- */

@media screen and (max-width: 800px) {
}

@media screen and (max-width: 480px) {
}
